    <header class="navbar navbar-fixed-top navbar-inverse">
          <%= link_to "Twitter clone", root_path, class: "navbar-brand" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "Log in", login_path %></li>
            </ul>
          </nav>
      </header>
