<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <span class="avater">
        <%= image_tag avater_url(user), :width => '80' %>
      </span>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to previous page', :back %>
