%h1 All users
%ul.users
  - @users.each do |user|
    %li
      %span.avater
        = image_tag avater_url(user), :width => '80'
      = link_to user.name, user
= link_to 'Back to previous page', :back
