<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <span class="avater"><%= image_tag user.avater? ? user.avater.url : "no-image.jpg", :width => '80' %></span>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
<%= link_to "Back to previous page", :back %>
