%h1
  Messages of 
  - @room.users.each_with_index do |user, i|
    = room_participants(user,i)

%ul.room-messages
  .page
    = render 'message'

%section.message_form
  = render 'messages/form_new', {user: current_user, room: @room, message: @message_post}

.message-paginate
  = paginate @messages


-#= javascript_include_tag 'infinite-scroll.pkgd.min'
-#:javascript
  $('ul.room-messages .page').infiniteScroll
      navSelector: "nav.pagination",
      nextSelector: "nav.pagination a[rel=next]",
      itemSelector: "ul.room-messages div.message"
  });
