/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

.gravatar {
  float: left;
}

aside {
  section {
      margin-top: 20px;
      padding: 10px 0;
  }
    h1 {
      margin: 0px;
      font-size: 16px;
      padding-left: 10px;
  }
}

h2 {
   font-size: 12px;
}

input, textarea, select {
   border: 1px solid #bbb;
   width: 100%;
   margin-bottom: 15px;
}

/********************************
tweets
*********************************/

.tweets {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #949494;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/********************************
footer
*********************************/


footer {
    margin-top: 45px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
   color: #555;
}

footer a:hover {
   color: #222;
}

footer small {
   float: left;
}

footer ul {
   float: right;
   list-style: none;
}

footer ul li {
   float: left;
   margin-left: 15px;
}
