// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rooms-avater {
  width: 50px;
  float: left;
  margin: 0 10px;
}

.rooms-button {
  margin: 10px 0;
}

.rooms {
  list-style: none;
  padding: 0;
}

.rooms a {
  text-decoration: none;
}

.rooms a:hover {
  text-decoration: none;
}

.rooms__item {
  padding: 10px 0;
  overflow: auto;
  border-top: 1px solid #e8e8e8;
}

.rooms__item__avater {
  float:left;
}

.rooms__item__box {
  overflow: hidden;
}

.rooms__item__box__user {
  margin-top: 5em;
  font-weight: bold;
  padding-top: 0;
}

.rooms__item__box__msg {
  display: block;
  color: #b7b7b7;
}

.room-form-list input {
  display:block;
  list-style: none;
  padding: 0;
}

.room-form-list label {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.room-form-list span {
  display:block;
  list-style: none;
  padding: 0;
}


//.room-form-list {
//  list-style: none;
//  padding: 0;
//}
//
//.room-form-list__item {
//  padding: 10px 0;
//  overflow: auto;
//  border-top: 1px solid #e8e8e8;
//}
//
//.room-form-list__item__box {
//  overflow: hidden;
//}
//
//.room-form-list__item__box__checkbox {
//}

